<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <script>

    var ws = new WebSocket("ws://localhost:3001");
    var message;
    var currentMessage;
    var timer;
    var clientChoice;
    var questionChoice = false;

    ws.onmessage = function (evt) {
      message = JSON.parse(evt.data);
      console.log(message);
      if(message.command == "userCount"){
        //console.log(message.message);
        document.getElementById("userCount").innerHTML = message.message;
      }
      if(message.command == "beginVote"){
        currentMessage = message.usermsg;
        //console.log(message.usrmsg);
        beginVote();
      }

      if(message.command == "makeChoice"){
        document.getElementById("voteWindow").style.display = "none";
        document.getElementById("resultsWindow").style.display = "none";
        document.getElementById("questionWindow").style.display = "none";
        document.getElementById("windowLock").style.display = "none";
        document.getElementById("confirmWindow").style.display = "block";
        document.getElementById("confirmText").innerHTML = currentMessage;
      }
      if(message.command == "lockScreen"){
        lockVoters();
      }
      if(message.command == "finalChoice"){
        resultScreen(message.final_choice, message.true_votes, message.false_votes)
      }      
    };
      function lockVoters(){
        document.getElementById("windowLock").style.display = "block";
      }

      function askQuestion(){
        document.getElementById("resultsWindow").style.display = "none";
        document.getElementById("windowLock").style.display = "none";
        document.getElementById("inputText").value = "";
        document.getElementById("voteWindow").style.display = "none";
        document.getElementById("questionWindow").style.display = "block";
        document.getElementById("question").disabled = false;
        document.getElementById("confirmQuestion").disabled = false;
        document.getElementById("question").style.opacity = 1;
        document.getElementById("yesChoice").style.background = "#202020";
        document.getElementById("noChoice").style.background = "#202020";
        document.getElementById("yesChoice").disabled = false;
        document.getElementById("noChoice").disabled = false;
        document.getElementById("yesChoice").style.opacity = 1;
        document.getElementById("noChoice").style.opacity = 1;
        questionChoice = false;
      }

      function resultScreen(result, trueVotes, falseVotes){

        document.getElementById("voteWindow").style.display = "none";
        document.getElementById("resultsWindow").style.display = "block";
        document.getElementById("questionWindow").style.display = "none";
        document.getElementById("windowLock").style.display = "none";
        document.getElementById("confirmWindow").style.display = "none";
        document.getElementById("yesChoice").style.background = "#202020";
        document.getElementById("noChoice").style.background = "#202020";
        document.getElementById("yesChoice").disabled = false;
        document.getElementById("noChoice").disabled = false;

        if(result === clientChoice && questionChoice === false){
          document.getElementById("resultsText").innerHTML = "<i class='fas fa-check-circle'></i>You chose WISELY!";
        }else if(result !== clientChoice && questionChoice === false){
          document.getElementById("resultsText").innerHTML = "<i class='fas fa-times'></i>You chose POORLY";
        }else{
          document.getElementById("resultsText").innerHTML = "Total Votes: AYE - "+trueVotes+" | NAE - "+falseVotes;
        }
      }


      function startTime(){
        currentMessage = document.getElementById("inputText").value;
        ws.send(JSON.stringify(
          {
            choice: "askQuestion",
            text: document.getElementById("inputText").value
          }
        ));
        questionChoice = true;
        var placeYourBetsAudio = new Audio('placeyourbetsnow.mp3');
        var tickTock = new Audio('ticktock.mp3');
        var bettingEnds = new Audio('bettingends.mp3');

          var timer = 11;
          selfTimer = setInterval(function () {
          timer = timer - 1;
          if(timer < 10){
            document.getElementById("timer").innerText = "0:0"+timer;
            console.log("current time: "+timer);
          }else{
            document.getElementById("timer").innerText = "0:"+timer;
            console.log("current time: "+timer);
          }
          if(timer == 0){
            tickTock.pause();
            bettingEnds.play();
            document.getElementById("question").style.opacity = 1;
            document.getElementById("question").disabled = false;
            if(questionChoice = true){
              ws.send(JSON.stringify({choice: "votingEndMaster"}));
            }else{
              ws.send(JSON.stringify({choice: "votingEndSlave"}));
            }
            
            clearInterval(selfTimer);
          }
        
        }, 1000);
      }

      function beginVote(){
        document.getElementById("resultsWindow").style.display = "none";
        var placeYourBetsAudio = new Audio('placeyourbetsnow.mp3');
        var tickTock = new Audio('ticktock.mp3');
        var bettingEnds = new Audio('bettingends.mp3');
        
        //set styles
        document.getElementById("voteWindow").style.display = "Block";
        document.getElementById("questionWindow").style.display = "none";
        document.getElementById("question").disabled = true;
        document.getElementById("confirmQuestion").disabled = true;
        document.getElementById("question").style.opacity = 0.3;
        document.getElementById("questionText").innerHTML = currentMessage;

        placeYourBetsAudio.play();
        tickTock.loop = true;
        tickTock.play()

        var timer = 11;
        document.getElementById("timer").innerText = "0:"+timer;
        myTimer = setInterval(function () {
          timer = timer - 1;
          if(timer < 10){
            document.getElementById("timer").innerText = "0:0"+timer;
            console.log("current time: "+timer);
          }else{
            document.getElementById("timer").innerText = "0:"+timer;
            console.log("current time: "+timer);
          }
          if(timer == 0){
            tickTock.pause();
            bettingEnds.play();
            document.getElementById("question").style.opacity = 1;
            document.getElementById("question").disabled = false;
              ws.send(JSON.stringify({choice: "votingEndSlave"}));
            clearInterval(myTimer);
          }
        
        }, 1000);
      }
    
      function resetChoice(){
       // window.setTimeout(function(){
          document.getElementById("yesChoice").disabled = false;
          document.getElementById("noChoice").disabled = false;
          document.getElementById("yesChoice").style.background = "#202020";
          document.getElementById("noChoice").style.background = "#202020";
          document.getElementById("yesChoice").style.opacity = 1;
          document.getElementById("noChoice").style.opacity = 1;
      //  }, 3000);
      }
      function voteChoice(num){
        if(num == true){
          document.getElementById("yesChoice").style.background = "#5fba7d";
          document.getElementById("yesChoice").disabled = true;
          document.getElementById("noChoice").disabled = true;
          document.getElementById("noChoice").style.opacity = 0.5;
          //resetChoice();
          clientChoice = true;
          ws.send(JSON.stringify({choice: true}));
        }
        if(num == false){
          document.getElementById("noChoice").style.background = "#a33939";
          document.getElementById("yesChoice").disabled = true;
          document.getElementById("noChoice").disabled = true;       
          document.getElementById("yesChoice").style.opacity = 0.5;
          //resetChoice();
          clientChoice = false;
          ws.send(JSON.stringify({choice: false}));
        }
      }
        
      function voteChoiceAnswer(num){
        if(num == true){
          //resetChoice();
          ws.send(JSON.stringify({choice: "finalChoice", finalChoice: true}));
        }
        if(num == false){
          //resetChoice();
          ws.send(JSON.stringify({choice: "finalChoice", finalChoice: false}));
        }        

      };
    </script>
  </head>
  <body>
    <div class="top-bar">

      <button id="question" onClick="askQuestion()"><i class="fas fa-stopwatch"></i>   QUESTION</button>
      <p class="users"><i class="fas fa-user"></i> <span id="userCount">0</span></p>          
      <p class="clock">TIME: <span id="timer">0:00</span></p>
        
      <div style="clear: both">
      </div>
    </div>
    <div class="window">
      <div class="windowLock" id="windowLock">
        <p>[ DRUM ROLL INTENSIFIES ]</p>
      </div>
      <div class="confirmWindow" id="confirmWindow">
          <div class="letter"><strong>A: </strong></div>
          <div class="question">
            <p id="confirmText"></p>
          </div>
          <div class="answers">
              <button id="yesChoiceAnswer" class="button" onClick="voteChoiceAnswer(true);">AYE  <i class="fas fa-thumbs-up"></i></button>
              <button id="noChoiceAnswer" class="button" onClick="voteChoiceAnswer(false);">NAH  <i class="fas fa-thumbs-down"></i></button>
          </div>
          <div style="clear: both">
          </div>
      </div>
      <div class="resultsWindow" id="resultsWindow">
          <div class="letter"><strong id="choice"></strong></div>
          <div class="question">
              <p id="resultsText"></p>
          </div>
          <div style="clear: both">
            </div>
      </div>
      <div class="questionWindow" id="questionWindow">
        <div class="letter"><strong>Q: </strong></div>
        <div class="question">
          <input id="inputText" type="text" placeholder="What's your question?">
        </div>
        <div class="answers">
          <button id="confirmQuestion" class="button" onClick="startTime()"> BEGIN VOTE  <i class="far fa-comment"></i> </button>
        </div>
        <div style="clear: both">
          </div>
      </div>
      <div class="voteWindow"  id="voteWindow">
        <div class="letter"><strong>Q: </strong></div>
        <div class="question">
          <p id="questionText">Is Triss REALLY weaponised Autism?</p>
        </div>
        <div class="answers">
            <button id="yesChoice" class="button" onClick="voteChoice(true);">AYE  <i class="fas fa-thumbs-up"></i></button>
            <button id="noChoice" class="button" onClick="voteChoice(false);">NAH  <i class="fas fa-thumbs-down"></i></button>
        </div>
        <div style="clear: both">
        </div>
      </div>
    </div>
  </body>
</html>
